@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}
/* header styles  */
.main{
  display: flex;
  justify-content: space-between;
  margin: -10px 40px;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-container{
  width: 62px;
  height: 62px;
}
.logo-container > img{
  width: 100%;
}
.main-logo-text{
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
} 
.three-line a{
  display: none;
}
/* nav styles  */
.nav-links{
  display: flex;
  gap: 32px;
}
.nav-links li{
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}
.nav-links a{
  text-decoration: none;
  text-transform: capitalize;
}
.color-1{
  color: orange;
}
.color-2{
  color: rgb(0, 183, 255);
}
.color-3{
  color: #8400ff;
}
.color-4{
  color: #5D58EF;
}
.nav-btn{
  background-color: orange;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 50px;
  border-radius: 30px;
  cursor: pointer;
}
/* banner styles  */
.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.banner-container{
  width: 45%;
}
.banner-container-2{
  width: 45%;
  display: flex;
  justify-content: end;
}
.banner-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner-description{
  color: black;
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
}
/* banner-btn style  */
.banner-btn{
  background-color: black;
  border: none;
  border-radius: 12px;
  padding: 20px 40px;
  color: white;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: bold;
  cursor: wait;
}
/* banner img style  */
.img-container{
  width: 450px;
  height: 570px;
}
.img-container img{
  width: 100%;
}
/* //cureculum conti styel  */
.curriculum{
  background-image: url("assets/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 70px auto;
}
.curriculum-container-top > h2{
   text-align: center;
   margin-bottom: 40px;
   font-size: 40px;
   font-weight: bold;
}
.parent-card-container{
  display: flex;
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}
.card-container{
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px;
  border-radius: 10px; 
  text-align: center; 
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 400px;
  margin-bottom: 30px;
}
.card-img{
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
.card-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.card-description{
  margin-top: 0;
  color: #808080;
  font-size: 14px;
  line-height: 25px;
}
.card-1{
  background: rgb(255,242,242);
  background: linear-gradient(0deg, rgba(255,242,242,0.9720155625116258) 48%, rgba(173,230,255,1) 100%);
}
.card-2{
background: rgb(255,247,247);
background: linear-gradient(0deg, rgba(255,247,247,0.9720155625116258) 48%, rgba(255,244,220,1) 100%);
}
.card-3{
  background: rgb(250,244,244);
  background: linear-gradient(0deg, rgba(250,244,244,0.9243965148925781) 40%, rgba(222,200,252,1) 100%);
}
.card-link{
  margin-top: 20px;
  color: #8700FF;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
} 
.story-section{
  display: block;
}
/* footer style  */
footer{
  color: white;
  height: auto;
  background-color: #01ACFD;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-main-card-container{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer-card-container{
  width: 30%;
  margin-top: 40px;
}
.footer-main-logo{
  display: flex;
  align-items: center;
}
.footer-main-img{
  width: 80px;
  height: 80px;
}
.footer-logo-title{
  font-size: 30px;
  margin: 0px;
}
.footer-fast-des{
  margin-top: 30px;
  line-height: 25px;
  font-size: 20px;
}
.footer-common-title{
  margin: 0;
  margin-bottom: 20px;
}
.sec-card{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
}
.sec-card li{
  list-style: none;
}
.sec-card a{
  font-size: 20px;
  color: white;
  line-height: 40px;
  font-weight: 300;
  text-decoration: none;

}
.last-card{
  font-size: 26px;
}
.footer-logo-img{
  margin-top: 30px;
}
.footer-logo-img a{
  text-decoration: none;
  margin-right: 20px;
}




/* mobile responsive code  */
@media screen and (max-width: 576px) {
  .main{
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 166, 0, 0.753);
  }
  .nav-ber, .navber-btn{
    display: none;
  }
  .three-line a{
    color: #000000;
    font-size: 30px;
  }
  .main-logo-text{
    display: none;
  }
  .three-line a{
    display: block;
}
  .banner{
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .banner-container, 
  .banner-container-2{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;
    text-align: center;
  }

.img-container{
  width: auto;
  height: auto;
}
.parent-card-container{
  flex-direction: column;
}
.card-container{
  height: 420px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
}



.footer-main-card-container{
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 0;
}
.footer-card-container{
  width: 100%;
}





}